{% load static %} <!-- загружаем папку статик -->

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href = "{% static 'ns/style.css' %}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="{% static 'ns/nasa-6-logo-svgrepo-com.svg' %}">
        <title>promo</title>
    </head>


    <body>

        <!-- Шапка -->
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


                    <div class="col-lg-1 col-md-2 col-sm-2 col-3 align-self-center">
                            <button class="navbar-toggler text-center"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarTogglerDemo03"
                                aria-controls="navbarTogglerDemo03"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="col-lg-2 col-md-8 col-sm-2 col-7 align-self-center">
                            <a class="navbar-brand" href='#'>
                                <img src="{% static 'ns/Vector.png' %}"  class="d-inline-block align-top">
                            </a>
                        </div>

                        <div class="collapse navbar-collapse col-lg-7"
                                 id="navbarTogglerDemo03">
                            <div class="navbar-nav text1 text-center col-lg-7">
                                <a class="nav-link col-lg-6 align-self-center" href="#">преимущества </a>
                                <a class="nav-link col-lg-6 align-self-center" href="#">фотографии</a>
                                <a class="nav-link col-lg-6 align-self-center" href="#">контакты</a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-6 col-2 align-self-center">
                           <button class="btn btn-danger me-5" type="button">вход</button>
                       </div>
            </nav>





            <div class="frame_t1_t2">
                <div class="text2">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-6 col-12 text-center text-break"> Космическое агенство </div>
                    </div>
                </div>
                <div class="text2_2 col-lg-6 col-md-12 col-sm-6 col-12 text-center">  Национальное управление по аэронавтике и исследованию космического
                        пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно
                        президенту США.
                </div>
            </div>

            <div class="container-fluid text-center my-5"> <!--my-5 - отступ по оси y-->
                <div class="row">
                    <div class="col-md-6 align-self-center">

                    <div class="row col-md-12 p-5 gx-3 justify-content-around">
                        <div class="col-md-4 justify-content-end">
                            <img src="{% static 'ns/fa6-solid_shuttle-space.png' %}"  class="d-inline-block">
                            <div class="row-md-3 py-3 text3"> Спейс шаттлы —пилотируемые корабли </div>
                        </div>
                        <div class="col-md-4 justify-content-end">
                                <img src="{% static 'ns/ion_telescope.png' %}"  class="d-inline-block align-top">
                                <div class="row-md-3 py-3 text3">Лучшее телескопическое оборудование</div>
                        </div>
                    </div>


                    <div class="row col-md-12 p-5 gx-3 justify-content-around">
                            <div class="col-md-3">
                                <img src="{% static 'ns/Group.png' %}"  class="d-inline-block align-top">
                                <div class="row-md-1 py-3 text3">Целимся на Луну и Марс</div>
                            </div>
                            <div class="col-md-3">
                                <img src="{% static 'ns/bxs_medal.png' %}"  class="d-inline-block align-top">
                                <div class="row-md-3 py-3 text3">Золотая медаль по научным исследованиям</div>
                            </div>
                    </div>

                </div>

                    <div class="col-md-6 align-self-center">
                    <img src="{% static 'ns/foto.png' %}"  class="img-fluid d-inline-block align-top">
                </div>
                </div>
            </div>
        </div>























        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>